*{font-family: '新宋体';}
body{font-size: 14px;background-color: #e9faff;color: #414549;}
p{margin: 0;padding: 0;}
ul,ol,li{list-style-type: none;padding: 0;margin: 0;}

.container{max-width: 1000px;}
.bg-yellow{background-color: #fef9ef;}
.font-size-12{font-size: 12px;}

.header-navbar{background-color: #e1eced;line-height: 28px;border-bottom: 1px solid #c3dfea;font-size: 12px;}
.header-navbar a{color: gray;padding-left: 16px;display: inline;}
.header-navbar .text-left a{margin-right: 16px;}
.header-navbar .homepage{background: url('/img/all.gif') no-repeat scroll 0 0 transparent;}
.header-navbar .collect{background: url('/img/all.gif') no-repeat scroll 0 0 transparent;background-position: 0 -20px;}

.header-banner .logo a{height: 60px;width: 200px;display: block;overflow: hidden;background: url('/img/logo.png') no-repeat;outline: none;}
.header-banner .search{height: 60px;font-size: 12px;}
.header-banner .search input{outline: none;border: 1px solid #dfdfdf;padding: 0;height: 32px;margin: 14px 0;text-indent: 12px;margin-right: -8px;width: 250px;}
.header-banner .search button{outline: none;border: 1px solid #dfdfdf;background-color: #fff;height: 32px;padding: 0 20px;}
.header-banner .search button:hover{background-color: #f1f1f1;}
.header-banner .user{margin: 14px 0;font-size: 12px;}
.header-banner .user a{line-height: 30px;padding: 0px 15px;display: block;background-color: #fff;border: 1px solid #dfdfdf;float: right;margin-left: 8px;}

.header-nav ul{overflow: hidden;background-color: #468cc3;}
.header-nav li{float: left;}
.header-nav a{color: #fff;display: block;line-height: 40px;padding: 0 18px;overflow: hidden;}
.header-nav a:hover{background-color: #387bad;text-decoration: none;}

.index-section-1{margin-top: 13px;}
.index-section-1 .recommend{border: 3px solid #c3dfea; overflow: hidden;padding-bottom: 10px;}
.index-section-1 .recommend li{float: left;width: calc(100%/2);overflow: hidden;padding: 10px 10px 0 10px;}
.index-section-1 .recommend .img{float: left;width: 38%;overflow: hidden;height: 170px;}
.index-section-1 .recommend img{padding: 1px;border: 1px solid #dfdfdf;width: 100%;max-height: 170px;}
.index-section-1 .recommend .text{overflow: hidden;padding-left: 10px;}
.index-section-1 .recommend .title{overflow: hidden;margin: 0;margin-bottom: 7px;padding-bottom: 8px;border-bottom: 1px dotted #b3b3b3;font-size: 14px;height: 26px;}
.index-section-1 .recommend .title .name{float: left;font-weight: bold;font-size: 14px;}
.index-section-1 .recommend .title .name a{color: #6f78a7;}
.index-section-1 .recommend .title .writer{float: right;color: #b3b3b3;display: block;max-width: 60px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.index-section-1 .recommend .description{font-size: 12px;line-height: 23px;display: block;overflow: hidden;max-height: 135px;}

.hot-box{overflow: hidden;border: 3px solid #c3dfea;}
.hot-box .box-title{font-weight: bold;background-color: #e1eced;font-weight: bold;line-height: 35px;border-bottom: 1px solid #c3dfea;padding: 0 10px;}
.hot-box .box-content{font-size: 12px;overflow: hidden;margin-top: 1px;}
.hot-box .box-content li:nth-child(1){border-color: #fef9ef;}
.hot-box .box-content li{border-top: 1px dotted #dfdfdf;line-height: 36px;overflow: hidden;height: 37px;}
.hot-box .box-content .category{float: left;}
.hot-box .box-content .title{float: left;display: block;max-width: 125px;line-height: 36px;overflow: hidden;}
.hot-box .box-content .title a{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.hot-box .box-content .writer{float: right;max-width: 70px;}
.hot-box .box-content a{margin-left: 5px;color: #6f78a7;}

.index-section-2 .row{overflow: hidden;border: 3px solid #c3dfea;}
.index-section-2 .list-box{overflow: hidden;}
.index-section-2 .list-box .box-title{background-color: #e1eced;line-height: 35px;border-bottom: 1px solid #c3dfea;font-weight: bold;padding: 0 10px;}
.index-section-2 .list-box .img-content{overflow: hidden;margin-top: 10px;padding: 0 10px;}
.index-section-2 .list-box .img-content .img{width: 25%;overflow: hidden;float: left;}
.index-section-2 .list-box .img-content img{padding: 1px;border: 1px solid #dfdfdf;width: 100%;}
.index-section-2 .list-box .img-content .content{padding-left: 10px;overflow: hidden;}
.index-section-2 .list-box .img-content .title a{color: #6f78a7;font-weight: bold;font-size: 12px;}
.index-section-2 .list-box .img-content .description{font-size: 12px;display: block;line-height: 20px;height: 78px;margin-top: 2px;}
.index-section-2 .list-box .box-content{font-size: 12px;overflow: hidden;margin: 5px 0 8px 0;padding: 0 10px;}
.index-section-2 .list-box .box-content li{float: left;width: 50%;overflow: hidden;display: flex;color: #b3b3b3;line-height: 32px;text-overflow: ellipsis;white-space: nowrap;}
.index-section-2 .list-box .box-content a{color: #6f78a7;}

.index-section-3{overflow: hidden;}
.index-section-3 .new-box{border: 3px solid #c3dfea;overflow: hidden;}
.index-section-3 .new-box .box-title{background-color: #e1eced;line-height: 35px;border-bottom: 1px solid #c3dfea;font-weight: bold;padding: 0 12px;}
.index-section-3 .new-box .box-content{font-size: 12px;overflow: hidden;padding: 0 12px;}
.index-section-3 .new-box .box-content li:nth-child(1){border-color: #fef9ef;}
.index-section-3 .new-box .box-content li{overflow: hidden;line-height: 36px;border-top: 1px dotted #c3dfea;}
.index-section-3 .new-box .box-content p{float: left;display: block;color: #b3b3b3;height: 36px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.index-section-3 .new-box .box-content p:nth-child(1){color: #414549;}
.index-section-3 .new-box .box-content p a{color: #6f78a7;}
.index-section-3 .new-box .box-content .category{width: 12%;}
.index-section-3 .new-box .box-content .title{width: 20%;}
.index-section-3 .new-box .box-content .chapter{width: 43%;}
.index-section-3 .new-box .box-content .writer{width: 15%;}
.index-section-3 .new-box .box-content .date{width: 10%;}

.index-section-4 .friend-link{border: 3px solid #c3dfea;margin: 0;}
.index-section-4 .friend-link-title{font-weight: bold;line-height: 38px;height: 30px;}
.index-section-4 .friend-link-content{font-size: 12px;overflow: hidden;padding: 3px 0 8px 0;}
.index-section-4 .friend-link-content a{color: #b3b3b3;padding-top: 2px;float: left;margin-right: 10px;}

.list-section-1{margin-top: 13px;}
.list-section-1 .recommend{border: 3px solid #c3dfea; overflow: hidden;padding-bottom: 10px;}
.list-section-1 .recommend li{float: left;width: calc(100%/3);overflow: hidden;padding: 10px 10px 0 10px;}
.list-section-1 .recommend .img{float: left;width: 38%;overflow: hidden;height: 155px;}
.list-section-1 .recommend img{padding: 1px;border: 1px solid #dfdfdf;width: 100%;max-height: 155px;}
.list-section-1 .recommend .text{overflow: hidden;padding-left: 10px;}
.list-section-1 .recommend .title{overflow: hidden;margin: 0;margin-bottom: 7px;padding-bottom: 8px;border-bottom: 1px dotted #b3b3b3;font-size: 14px;height: 26px;}
.list-section-1 .recommend .title .name{float: left;font-weight: bold;font-size: 14px;}
.list-section-1 .recommend .title .name a{color: #6f78a7;}
.list-section-1 .recommend .title .writer{float: right;color: #b3b3b3;display: block;max-width: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list-section-1 .recommend .description{font-size: 12px;line-height: 23px;display: block;overflow: hidden;max-height: 115px;}

.list-section-2{overflow: hidden;}
.list-section-2 .new-box{border: 3px solid #c3dfea;overflow: hidden;}
.list-section-2 .new-box .box-title{background-color: #e1eced;line-height: 35px;border-bottom: 1px solid #c3dfea;font-weight: bold;padding: 0 12px;}
.list-section-2 .new-box .box-content{font-size: 12px;overflow: hidden;padding: 0 12px;}
.list-section-2 .new-box .box-content li:nth-child(1){border-color: #fef9ef;}
.list-section-2 .new-box .box-content li{overflow: hidden;line-height: 36px;border-top: 1px dotted #c3dfea;}
.list-section-2 .new-box .box-content p{float: left;display: block;color: #b3b3b3;height: 36px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list-section-2 .new-box .box-content p:nth-child(1){color: #414549;}
.list-section-2 .new-box .box-content p a{color: #6f78a7;}
.list-section-2 .new-box .box-content .category{width: 12%;}
.list-section-2 .new-box .box-content .title{width: 20%;}
.list-section-2 .new-box .box-content .chapter{width: 43%;}
.list-section-2 .new-box .box-content .writer{width: 15%;}
.list-section-2 .new-box .box-content .date{width: 10%;}

.page-box{overflow: hidden;padding: 0 12px;margin: 2px 0 10px 0;font-size: 12px;}
.page-box a{display: block;float: left;line-height: 25px;padding: 0 10px;border: 1px solid #e1eced;margin-right: 3px;background-color: #fff;color: #414549;}
.page-box .cur{border-color: #468cc3;background-color: #468cc3;color: #fff;}

footer{font-size: 12px;color: #414549;padding: 20px 0;}

@media screen and (max-width: 768px) {
  .header-banner .search{height: 50px;}

  .header-nav ul{padding: 7px 0;}
  .header-nav li{width: calc(100%/4);text-align: center;}
  .header-nav a{padding: 0;line-height: 30px;}

  .index-section-1 .recommend .img{width: 100%;}
  .index-section-1 .recommend .title{margin-top: 10px;}

  .index-section-1 .recommend .img{height: 220px;}
  .index-section-1 .recommend img{max-height: 100%;}

  .box-content .title{width: auto;}

  .list-box .box-title{border-top: 1px solid #c3dfea;}
}