<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ bookName }}txt下载_{{ bookName }}在线阅读 - {{ sitename }}</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  {% include "../common/header.html" %}
  <div class="book container">
    <div class="book-section-1">
      <div class="location-box">
        <a href="/">{{ sitename }}</a> > <a href="javascript:void(0);">{{ listName }}</a> > <a href="javascript:void(0);">{{ bookName }}</a>
      </div>
      <div class="book-box row">
        <div class="col-md-2"><img src="{{ bookMain.written }}" alt="{{ bookName }}"></div>
        <div class="col-md-10 pl-md-4 mt-md-0 mt-3">
          <h2>{{ bookName }}<small> / {{ bookMain.writer }}</small></h2>
          <div class="book-about">
            人气：{{ bookMain.hot }} / 更新时间：{{ bookMain.update_time }}
          </div>
          <div class="book-description">
            简介：{{ bookMain.description }}
          </div>
        </div>
        <div class="col-md-12 book-recommend mt-md-3">
          推荐阅读：
          {% for item in recommend %}
          <a href="{{ item.uri }}" title="{{ item.name }}">{{ item.name }}</a>、
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="book-section-2 container">
      <div class="chapter-box row">
        <div class="col p-3 p-md-0">
          <div class="chapter-title p-0 px-md-3">{{ bookName }}最新章节(提示：已启用缓存技术，最新章节可能会延时显示，登录书架即可实时查看)</div>
          <div class="chapter-content p-0 px-md-3">
            {% for item in chapter %}
            <p><a href="./{{ item[0] }}.html">{{ item[1] }}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "../common/footer.html" %}
</body>
</html>